
@{
    ViewBag.Title = "Войти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TestWork_Baltbet.Web.Models.LoginViewModel
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Войдите под своей учетной записью</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Login)
    <br>
    @Html.TextBoxFor(m => m.Login)
    <br><br>

    @Html.LabelFor(m => m.Password)
    <br>
    @Html.PasswordFor(m => m.Password)
    <br><br>

    <p><input type="submit" value="Войти" /></p>
}